@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background color e6e6ff */
body {
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

.reenie-beanie-regular {
  font-family: "Reenie Beanie", serif;
  font-weight: 400;
  font-style: normal;
}

.animatedButton {
  animation-duration: 7s; /* Atur durasi animasi, misalnya 2 detik */
}
